<div class="customer-page customer-reset-password">
  <div class="customer-page__inner">
    <h1 class="customer-page__heading">{{ 'customer.reset_password.title' | t | default: 'Reset your password' }}</h1>
    <p>{{ 'customer.reset_password.subtext' | t | default: 'Enter a new password for your account.' }}</p>

    {%- form 'reset_customer_password' -%}
      {%- if form.errors -%}
        <div class="customer-page__errors" role="alert">
          {{ form.errors | default_errors }}
        </div>
      {%- endif -%}

      <div class="customer-page__field">
        <label class="customer-page__label" for="ResetPassword">
          {{ 'customer.reset_password.password' | t | default: 'New password' }}
          <span aria-hidden="true">*</span>
          <span class="visually-hidden">{{ 'customer.reset_password.required' | t | default: '(required)' }}</span>
        </label>
        <input
          class="customer-page__input"
          type="password"
          id="ResetPassword"
          name="customer[password]"
          autocomplete="new-password"
          aria-required="true"
          required
        >
      </div>

      <div class="customer-page__field">
        <label class="customer-page__label" for="ResetPasswordConfirm">
          {{ 'customer.reset_password.password_confirm' | t | default: 'Confirm new password' }}
          <span aria-hidden="true">*</span>
          <span class="visually-hidden">{{ 'customer.reset_password.required' | t | default: '(required)' }}</span>
        </label>
        <input
          class="customer-page__input"
          type="password"
          id="ResetPasswordConfirm"
          name="customer[password_confirmation]"
          autocomplete="new-password"
          aria-required="true"
          required
        >
      </div>

      <button type="submit" class="button button--primary customer-page__submit">
        {{ 'customer.reset_password.submit' | t | default: 'Reset password' }}
      </button>
    {%- endform -%}
  </div>
</div>
